<template name="dealItem">

  <div class="col-md-6">
    <form>
    <!-- Form Name -->
    <legend>EDIT DEAL</legend>

    <input type="hidden" name="createdAt" value="{{createdAt}}">
    <input type="hidden" name="updatedAt" value="{{updatedAt}}">

    <!-- Text input-->
      <div class="form-group">
        <input id="headline" name="headline" type="text" value="{{headline}}" class="form-control">
      </div>

    <!-- Text input-->
      <div class="form-group">
        <input id="company" name="company" type="text" value="{{company}}" class="form-control">
      </div>

    <!-- Textarea -->
      <div class="form-group">
        <label for="details">DEAL DESCRIPTION</label>
        <textarea rows="5" class="form-control" id="details" value="{{details}}" name="details"></textarea>
      </div>


    <!-- Text input-->
      <div class="form-group">
        <label for="street">ADDRESS (optional)</label>  
        <input id="street" name="street" type="text" value="{{location.street}}" class="form-control">
      </div>

    <!-- Text input-->
        
          <div class="form-group col-md-4 pull-left">
            <input id="city" name="city" type="text" value="{{location.city}}" class="form-control">
          </div>

      <!-- Button Drop Down -->
          <div class="form-group col-md-4 pull-left">
              <select id="state" name="state" value="{{location.state}}" class="form-control">
                <option value="" disabled>State</option>
                <option value='AL'>AL</option>
                <option value='AK'>AK</option>
                <option value='AZ'>AZ</option>
                <option value='AR'>AR</option>
                <option value='CA'>CA</option>
                <option value='CO'>CO</option>
                <option value='CT'>CT</option>
                <option value='DE'>DE</option>
                <option value='FL'>FL</option>
                <option value='GA'>GA</option>
                <option value='HI'>HI</option>
                <option value='ID'>ID</option>
                <option value='IL'>IL</option>
                <option value='IN'>IN</option>
                <option value='IA'>IA</option>
                <option value='KS'>KS</option>
                <option value='KY'>KY</option>
                <option value='LA'>LA</option>
                <option value='ME'>ME</option>
                <option value='MD'>MD</option>
                <option value='MA'>MA</option>
                <option value='MI'>MI</option>
                <option value='MN'>MN</option>
                <option value='MS'>MS</option>
                <option value='MO'>MO</option>
                <option value='MT'>MT</option>
                <option value='NE'>NE</option>
                <option value='NV'>NV</option>
                <option value='NH'>NH</option>
                <option value='NJ'>NJ</option>
                <option value='NM'>NM</option>
                <option value='NY'>NY</option>
                <option value='NC'>NC</option>
                <option value='ND'>ND</option>
                <option value='OH'>OH</option>
                <option value='OK'>OK</option>
                <option value='OR'>OR</option>
                <option value='PA'>PA</option>
                <option value='RI'>RI</option>
                <option value='SC'>SC</option>
                <option value='SD'>SD</option>
                <option value='TN'>TN</option>
                <option value='TX'>TX</option>
                <option value='UT'>UT</option>
                <option value='VT'>VT</option>
                <option value='VA'>VA</option>
                <option value='WA'>WA</option>
                <option value='WV'>WV</option>
                <option value='WI'>WI</option>
                <option value='WY'>WY</option>
              </select>
          </div>


      <!-- Text input-->
        <div class="form-group col-md-4 pull-left">
          <input id="zip" name="zip" type="text" value="{{location.zip}}" class="form-control">
        </div>

    <div class="clearfix"></div>
        
    <!-- Submit -->
    <div class="form-group">
      <button id="buttonSubmit" name="buttonSubmit" class="btn btn-primary pull-right">Save Deal</button>
    </div>

    <div class="clearfix"></div>

    <div id="errors" name="errors">
      {{#each errors}}
        <p>{{this}}</p>
      {{/each}}
    </div>

    </form>
  </div>
</template>
