<template name="confirmModal">

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
                <p>Are you sure you want to delete this deal?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-ok pull-left" data-dismiss="modal" id="confirmDelete">Yes, Delete</button>
                <button type="button" id="btn-dark" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

</template>