/* CSS declarations go here */
body {
	color: #20467e;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
}

.btn:active, button:active {
	background-color: #e9e9e9;
	color: #fff;
}

#oneDeal .headline, #oneDeal .location {
	text-transform: uppercase;
}

#oneDeal p.address, #oneDeal p.details {
	color: #8c8c8c;
}

/*table*/
tr.labels {
	font-size: 18px;
	text-align: left;
}

tr.items {
	font-size: 14px;
}

.borderless td, .borderless th {
    border: none;
}

div.deal-list div.item {
	border: 0;
	border-bottom: 1px solid #ccc;
}

#dealsList.affix {
	position: fixed;
	top: 0;
	width: 80%;
	background-color: white;
}

#dealsList.affix-top {

}